.addcrs{
     position: absolute;
    top: 50%;          
    left: 50%;          
    transform: translate(-50%, -50%); 
    text-align: center; 
    width: 90%;         
    z-index: 10;
    font-family: 'Sekuya';
    font-size: 30px; 
    color: rgb(211, 186, 121);
}
.addcrs h2{
     font-size: 3.5rem;
    margin-bottom: 20px;
    text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}
main {
    background-color: #fadfdf; 
    min-height: auto;        
    padding-bottom: 100px;    
}
.add_section {
    background-color: white;
    width: 450px; 
    margin: -200px auto 0 auto; 
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;
}

.input{
    margin-bottom: 20px;
    text-align: left;
}

.input label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}


input[type="text"], 
select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box; 
}


.addbtn {
    width: 100%;
    padding: 15px;
    background-color: #ffd6d6; 
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.addbtn:hover {
    background-color: #ffc2c2; 
}
